svg {
    width: 20vw;
}

.footer-layout1 .footer-wrap1 {
    padding: 0px;
}
.footer-layout1 {
    padding-top: 0px;
    margin-top: 0px;
}

.footer-img {
    width: 503px;
    height: 100%;
    filter: brightness(0.2);
    margin-top: 30px;
    border-radius: 126px;
    margin-left: 20px;
}
