<form class="woocommerce-checkout">
    <div class="row">
        <div class="col-lg-6" style="margin-top: 150px;">
            <div class="title-area text-center">
                <span class="sub-title">Daily Sign Up</span>
            </div>
            <div class="">
                <div class="form-container">
                    <div class="">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Street Address">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Town / City">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Country">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Postcode / Zip">
                    </div>
                </div>
                <!--<p id="ship-to-different-address">-->
                <!--    <input id="ship-to-different-address-checkbox" type="checkbox" name="ship_to_different_address" value="1" checked>-->
                <!--    <label for="ship-to-different-address-checkbox">-->
                <!--        Ship to a different address?-->
                <!--        <span class="checkmark"></span>-->
                <!--    </label>-->
                <!--</p>-->
                <div class="before-submit">
                    <div class="waiver">
                        <div>
                            <a
                                href="/images/old-site/rider-waiver.pdf"
                                target="_blank"
                            >Adult Waiver</a
                            >
                        </div>
                        <div>
                            <a
                                href="/images/old-site/minor-waiver.pdf"
                                target="_blank"
                            >Child Waiver</a
                            >
                        </div>
                    </div>
                    <div class="membership-checkbox">
                        <label for="agree">Agree to Waivers</label>
                        <input type="checkbox" id="" name="agree" value="">
                    </div>
                </div>
                <button (click)="save()" class="th-btn" [disabled]="form.invalid"
                    >Submit</button
                >
            </div>
        </div>
    </div>
</form>
