.our-tracks-container {
    background-color: #000;
    scroll-margin-top: 100px;
}

.our-tracks-container > .container > .page-single > .page-content > * {
    color: white !important;
}

.scrolling-pictures-container {
    display: flex;
    flex-direction: row;
}

.scrolling-picture > img {
    border-radius: 10px;
}

.scrolling-pictures-container > .scrolling-picture {
    margin: 10px;
}

.popup-gallery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.popup-gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .scrolling-pictures-container {
        display: flex;
        flex-direction: row;
        max-width: 500px;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scrolling-pictures-container > .scrolling-picture {
        min-width: 250px;
        margin: 0px 10px 0px 10px;
        scroll-snap-align: center;
    }
}
