<section id="ourTracks" class="our-tracks-container space-top space-extra-bottom">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Our Tracks</span>
        </div>
        <div class="page-single mb-0">
            <div class="page-content">
                <h2 class="sec-title page-title fw-semibold">
                    The Main Motocross Track
                </h2>
                <p class="mb-30">
                    Our main practice track is configured for riders of all
                    skill levels. It is a very rider friendly course, where the
                    average rider feels very comfortable and the faster riders
                    are still challenged. <br />
                    <br />
                    The main track features roughly 22 turns and features a
                    stadium triple, multiple tabletops and tied together with
                    rollers and a nice rhythm section. Riders will the track
                    offers a nice balance of features. The main track is also
                    undergoing constant changes such as new jumps, turns and
                    more. <br />
                    <br />
                    In addition to regular tweaks to the track layout, most of
                    our upgrades involve giving you the best possible ride
                    experience, such as bringing in new dirt, installing and
                    upgrading watering capabilities, and much, much more.
                </p>
                <div class="scrolling-pictures-container">
                    <div
                        class="scrolling-picture clickable"
                        *ngFor="let p of mainTrackPictures"
                    >
                        <img  (click)="selectImage(p)" [src]="p.image?.data[0]?.attributes?.url" alt="img" />
                    </div>
                </div>
            </div>
            <div class="page-content mt-30">
                <h2 class="sec-title page-title fw-semibold">
                    The Junior Track
                </h2>
                <p class="mb-30">
                    Our Jr. track is perfect for the inexperienced rider. The
                    track is made from a hard pack surface that is great for the
                    inexperienced rider. The Jr. track features many right, left
                    and off camber turns that help build your young motocross
                    riders skill level. The track also features all tabletops
                    for the jumps, no doubles or triples!<br />
                    <br />
                    At Martin MX Park, we believe in youngsters riding at an
                    early age. These young riders are the future of the
                    motocross industry. With that said, their safety is our top
                    priority while learning their skills on one of our practice
                    tracks.
                </p>
                <div class="scrolling-pictures-container">
                    <div
                        class="clickable scrolling-picture"
                        *ngFor="let p of youthTrackPictures"
                    >
                        <img (click)="selectImage(p)"  [src]="p.image?.data[0]?.attributes?.url" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div
    id="contact"
    class="popup-gallery overflow-hidden space-bottom bg-black2 pt-40"
    data-mask-src="/images/hero/hero_bg-shape-mask.png"
    *ngIf="selectedImage"
>
    <div class="container">
        <div class="bmi-calculator-form">
        <div class="popup-gallery-img">
            <img [src]="selectedImage.image?.data[0]?.attributes?.url" alt="gallery image">
        </div>
                    <div class="col-12">
                        <div class="th-btn">
                            <input
                                type="button"
                                value="Close"
                                (click)="closeImage()"
                            />
                        </div>
                    </div>
        </div>
    </div>
</div>
