<div
    id="about"
    class="mt-30 mb-30 contact-area-1 position-relative z-index-common">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="contact-wrap1 bg-black2">
                    <div class="title-area mb-40">
                        <h2 class="sec-title text-white">Park Contact Info</h2>
                    </div>
                    <div class="contact-feature">
                        <div class="box-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title h5 text-white">Open On</h3>
                            <p class="box-text">
                                Wednesday 3pm - 8pm, Saturday 10am - 3pm, and
                                Sunday 11am - 4pm
                            </p>
                        </div>
                    </div>
                    <div class="contact-feature">
                        <div class="box-icon">
                            <i class="far fa-location-dot"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title h5 text-white">Address</h3>
                            <p class="box-text">
                                <a
                                    href="https://www.google.com/maps/search/?api=1&query=1480+12th+St,+Martin,+MI+49070"
                                    target="_blank">
                                    1480 12th St, Martin, MI 49070
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-feature">
                        <div class="box-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title h5 text-white">
                                Email Address
                            </h3>
                            <p class="box-text">
                                <a href="mailto:martinmxpark&#64;gmail.com">
                                    martinmxpark&#64;gmail.com
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-feature">
                        <div class="box-icon">
                            <i class="far fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title h5 text-white">
                                Phone Number
                            </h3>
                            <p class="box-text">
                                <a href="tel:+16164269232">(616) 426-9232</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="contact-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2940.259210665853!2d-85.66419858760385!3d42.52854817105737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819d46af1e2c68d%3A0xc146fdd90291ccc3!2sMartin%20MX%20Park!5e0!3m2!1sen!2sus!4v1731548985004!5m2!1sen!2sus"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
