<section class="space" id="blog-sec">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-8">
                <div class="title-area text-lg-start text-center">
                    <span class="sub-title after-lg-none">Blog Posts</span>
                    <h2 class="sec-title">Our Latest News & Articles</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="sec-btn">
                    <a href="blog.html" class="th-btn style2">View All Posts</a>
                </div>
            </div>
        </div>
        <div class="slider-area">
            <div
                class="swiper th-slider has-shadow"
                id="blogSlider1"
                data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"2"}}, "autoHeight": "true"}'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img
                                        src="/images/old-site/2.jpg"
                                        alt="blog image"
                                    />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a class="author" href="blog.html"
                                        ><i class="fal fa-user"></i>By Jonson</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-calendar"></i>12
                                        April, 2024</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-comment"></i>2
                                        Comments</a
                                    >
                                </div>
                                <h3 class="box-title">
                                    <a href="blog-details.html"
                                        >How to win every race</a
                                    >
                                </h3>
                                <p class="blog-text">
                                    Group fitness classes led by instructors
                                    offer structured workouts in a motivating
                                    group setting.
                                </p>
                                <a
                                    href="blog-details.html"
                                    class="th-btn style2"
                                    >Read More</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img
                                        src="/images/blog/blog_1_2.jpg"
                                        alt="blog image"
                                    />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a class="author" href="blog.html"
                                        ><i class="fal fa-user"></i>By Jonson</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-calendar"></i>16
                                        March, 2024</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-comment"></i>3
                                        Comments</a
                                    >
                                </div>
                                <h3 class="box-title">
                                    <a href="blog-details.html"
                                        >They Take Pride In Meticulous</a
                                    >
                                </h3>
                                <p class="blog-text">
                                    Group fitness classes led by instructors
                                    offer structured workouts in a motivating
                                    group setting.
                                </p>
                                <a
                                    href="blog-details.html"
                                    class="th-btn style2"
                                    >Read More</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img
                                        src="/images/blog/blog_1_1.jpg"
                                        alt="blog image"
                                    />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a class="author" href="blog.html"
                                        ><i class="fal fa-user"></i>By Jonson</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-calendar"></i>17 June,
                                        2024</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-comment"></i>2
                                        Comments</a
                                    >
                                </div>
                                <h3 class="box-title">
                                    <a href="blog-details.html"
                                        >Best 50 Tips For Gym Fitness.</a
                                    >
                                </h3>
                                <p class="blog-text">
                                    Group fitness classes led by instructors
                                    offer structured workouts in a motivating
                                    group setting.
                                </p>
                                <a
                                    href="blog-details.html"
                                    class="th-btn style2"
                                    >Read More</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img
                                        src="/images/blog/blog_1_2.jpg"
                                        alt="blog image"
                                    />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a class="author" href="blog.html"
                                        ><i class="fal fa-user"></i>By Jonson</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-calendar"></i>12
                                        April, 2024</a
                                    >
                                    <a href="blog.html"
                                        ><i class="fal fa-comment"></i>4
                                        Comments</a
                                    >
                                </div>
                                <h3 class="box-title">
                                    <a href="blog-details.html"
                                        >They Take Pride In Meticulous</a
                                    >
                                </h3>
                                <p class="blog-text">
                                    Group fitness classes led by instructors
                                    offer structured workouts in a motivating
                                    group setting.
                                </p>
                                <a
                                    href="blog-details.html"
                                    class="th-btn style2"
                                    >Read More</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                data-slider-prev="#blogSlider1"
                class="slider-arrow slider-prev"
            >
                <i class="far fa-arrow-left"></i>
            </button>
            <button
                data-slider-next="#blogSlider1"
                class="slider-arrow slider-next"
            >
                <i class="far fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
