<section class="space">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="title-area text-lg-start text-center">
                    <span class="sub-title after-lg-none"></span>
                    Practice and Membership

                    <h2 class="sec-title">Register to ride</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="sec-btn">
                    <div
                        class="nav tab-menu1 price-tab-btn mobile-pricing-nav-small"
                        role="tablist">
                        <button
                            class="tab-btn th-btn active"
                            id="price-two-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#price-two"
                            role="tab"
                            aria-controls="price-two"
                            aria-selected="true">
                            Register for Practice
                        </button>
                        <button
                            class="tab-btn th-btn"
                            id="price-one-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#price-one"
                            role="tab"
                            aria-controls="price-one"
                            aria-selected="false">
                            Unlimited Membership
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div
                class="tab-pane fade show"
                id="price-one"
                role="tabpanel"
                aria-labelledby="price-one-tab">
                <div class="row gy-30 justify-content-center">
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="yearlySignUp && yearlySignUp.isActive">
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">Yearly</h3>
                                <h4 class="price-card_price">
                                    <span class="currency">$</span>
                                    {{ yearlySignUp.price }}
                                    <span class="duration">/ Year</span>
                                </h4>
                            </div>
                            <div class="price-card_content w-100">
                                <div class="row gy-4">
                                    <div class="checklist-container">
                                        <div class="checklist style3">
                                            <ul>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description1
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description1
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description2
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description2
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description3
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description3
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description5
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description4
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description5
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description5
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <a
                                    href="https://buy.stripe.com/7sI0081086Xr4so4gh"
                                    target="_blank"
                                    class="th-btn style3 w-100">
                                    Sign Up Now!
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="!yearlySignUp || !yearlySignUp.isActive">
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Yearly Sign Ups Not Available At This Time
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="tab-pane fade show active"
                id="price-two"
                role="tabpanel"
                aria-labelledby="price-two-tab">
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-12 col-lg-6">
                        <div
                            class="price-card"
                            *ngIf="openPractice && openPractice.isActive">
                            <div
                                *ngIf="openPractice.isCancelled"
                                class="price-title-wrap">
                                <h2 class="box-title">Practice is Cancelled</h2>
                                <h4
                                    class="box-title"
                                    *ngIf="
                                        openPractice.isCancelled &&
                                        openPractice.reasonForCancel
                                    ">
                                    Due to: {{ openPractice.reasonForCancel }}
                                </h4>
                            </div>
                            <ng-container
                                *ngIf="
                                    !openPractice.isCancelled &&
                                    openPractice.isActive
                                ">
                                <div class="price-title-wrap">
                                    <h3 class="box-title">Main Track</h3>
                                    <h4 class="price-card_price">
                                        <span class="currency">$</span>
                                        {{ openPractice.price }}
                                        <span class="duration">/ Class</span>
                                    </h4>
                                    <hr />
                                    <h3 class="box-title">Jr Track</h3>
                                    <h4 class="price-card_price">
                                        <span class="currency">$</span>
                                        {{ openPractice.jrTrackPrice }}
                                    </h4>
                                </div>
                                <div class="price-card_content">
                                    <div class="row gy-4">
                                        <div class="checklist-container">
                                            <h6>
                                                <ng-container
                                                    *ngIf="openPractice.Date">
                                                    Open
                                                </ng-container>
                                                <span
                                                    class="duration"
                                                    *ngIf="openPractice.Date">
                                                    {{
                                                        openPractice.Date
                                                            | date
                                                                : 'MM/dd/yyyy'
                                                    }}
                                                    from
                                                    <span class="duration">
                                                        {{
                                                            openPractice.startTime
                                                        }}
                                                        to
                                                        {{
                                                            openPractice.endTime
                                                        }}
                                                    </span>
                                                </span>
                                                <br />
                                                <ng-container
                                                    *ngIf="openPractice.Date2">
                                                    Open
                                                </ng-container>
                                                <span
                                                    class="duration"
                                                    *ngIf="openPractice.Date2">
                                                    {{
                                                        openPractice.Date2
                                                            | date
                                                                : 'MM/dd/yyyy'
                                                    }}
                                                    from
                                                    <span class="duration">
                                                        {{
                                                            openPractice.startTime2
                                                        }}
                                                        to
                                                        {{
                                                            openPractice.endTime2
                                                        }}
                                                    </span>
                                                </span>
                                            </h6>
                                            <hr />
                                            <div class="checklist style3">
                                                <ul>
                                                    <li
                                                        *ngIf="
                                                            openPractice.description1
                                                        ">
                                                        <i
                                                            class="far fa-circle-check"></i>
                                                        {{
                                                            openPractice.description1
                                                        }}
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            openPractice.description2
                                                        ">
                                                        <i
                                                            class="far fa-circle-check"></i>
                                                        {{
                                                            openPractice.description2
                                                        }}
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            openPractice.description3
                                                        ">
                                                        <i
                                                            class="far fa-circle-check"></i>
                                                        {{
                                                            openPractice.description3
                                                        }}
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            openPractice.description4
                                                        ">
                                                        <i
                                                            class="far fa-circle-check"></i>
                                                        {{
                                                            openPractice.description4
                                                        }}
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            openPractice.description5
                                                        ">
                                                        <i
                                                            class="far fa-circle-check"></i>
                                                        {{
                                                            openPractice.description5
                                                        }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="price-card"
                            *ngIf="!openPractice || !openPractice.isActive">
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Online Registration is unavailable at this
                                    time.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SPLIT -->
            <div
                class="tab-pane fade show"
                id="price-one"
                role="tabpanel"
                aria-labelledby="price-one-tab">
                <div class="row gy-30 justify-content-center">
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="yearlySignUp && yearlySignUp.isActive">
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">Yearly</h3>
                                <h4 class="price-card_price">
                                    <span class="currency">$</span>
                                    {{ yearlySignUp.price }}
                                    <span class="duration">/ Year</span>
                                </h4>
                            </div>
                            <div class="price-card_content">
                                <div class="row gy-4">
                                    <div class="checklist-container">
                                        <div class="checklist style3">
                                            <ul>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description1
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description1
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description2
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description2
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description3
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description3
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description4
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description4
                                                    }}
                                                </li>
                                                <li
                                                    *ngIf="
                                                        yearlySignUp.description5
                                                    ">
                                                    <i
                                                        class="far fa-circle-check"></i>
                                                    {{
                                                        yearlySignUp.description5
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a
                                href="https://buy.stripe.com/7sI0081086Xr4so4gh"
                                target="_blank"
                                class="th-btn style3 w-130">
                                Sign Up Now!
                            </a>
                        </div>
                    </div>
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="!yearlySignUp || !yearlySignUp.isActive">
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Yearly Sign Ups Not Available At This Time
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div
                class="tab-pane fade show active"
                id="price-two"
                role="tabpanel"
                aria-labelledby="price-two-tab">
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-12 col-lg-6">
                        <div
                            class="price-card"
                            *ngIf="openPractice && openPractice.isActive">
                            <ng-container
                                *ngIf="
                                    !openPractice.isCancelled &&
                                    openPractice.isActive &&
                                    !openPractice.isCashOnly
                                ">
                                <div
                                    class="btn-wrap"
                                    *ngIf="!openPractice.isCashOnly">
                                    <a
                                        (click)="redirectToCheckoutAB()"
                                        target="_blank"
                                        [ngClass]="{
                                            disabled: spotsLeftClassAB <= 0
                                        }"
                                        class="th-btn style3 w-30">
                                        <ng-container
                                            *ngIf="spotsLeftClassAB > 0">
                                            Click to sign up for class A/B
                                            <br />
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                spotsLeftClassAB <= 6 &&
                                                spotsLeftClassAB > 0
                                            ">
                                            Spots Remaining:
                                            {{ spotsLeftClassAB }}
                                        </ng-container>
                                        <ng-container
                                            *ngIf="spotsLeftClassAB <= 0">
                                            No Spots Remaining for Class A/B
                                        </ng-container>
                                    </a>
                                    <a
                                        (click)="redirectToCheckoutC()"
                                        target="_blank"
                                        [ngClass]="{
                                            disabled: spotsLeftClassC <= 0
                                        }"
                                        class="th-btn style3 w-30">
                                        <ng-container
                                            *ngIf="spotsLeftClassC > 0">
                                            Click to sign up for class C
                                            <br />
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                spotsLeftClassC <= 6 &&
                                                spotsLeftClassC > 0
                                            ">
                                            Spots Remaining:
                                            {{ spotsLeftClassC }}
                                        </ng-container>
                                        <ng-container
                                            *ngIf="spotsLeftClassC <= 0">
                                            No Spots Remaining for Class C
                                        </ng-container>
                                    </a>
                                    <a
                                        (click)="redirectToCheckoutMini()"
                                        target="_blank"
                                        [ngClass]="{
                                            disabled: spotsLeftClassMini <= 0
                                        }"
                                        class="th-btn style3 w-30">
                                        <ng-container
                                            *ngIf="spotsLeftClassMini > 0">
                                            Click to sign up for class Mini
                                            <br />
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                spotsLeftClassMini <= 6 &&
                                                spotsLeftClassMini > 0
                                            ">
                                            Spots Remaining:
                                            {{ spotsLeftClassMini }}
                                        </ng-container>
                                        <ng-container
                                            *ngIf="spotsLeftClassMini <= 0">
                                            No Spots Remaining for Class Mini
                                        </ng-container>
                                    </a>
                                </div>
                            </ng-container>
                            <div
                                class="price-title-wrap"
                                *ngIf="openPractice?.isCashOnly">
                                <h2 class="box-title">Accepting Cash Only</h2>
                            </div>
                        </div>
                        <div
                            class="price-card"
                            *ngIf="!openPractice || !openPractice.isActive">
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Open Practice is unavailable at this time.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section *ngIf="showForm">
    <div
        id="sign-up"
        class="overflow-hidden space-bottom bg-black2 pt-40"
        data-mask-src="/images/hero/hero_bg-shape-mask.png">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">Practice - Sign Up</span>
            </div>
            <div class="bmi-calculator-form">
                <form
                    class="bmi-form"
                    id="signUpForm"
                    name="signUpForm"
                    [formGroup]="signUpForm">
                    <div class="row gy-30 gx-30 justify-content-center">
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <input
                                    formControlName="email"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            signUpForm.get('email')?.errors &&
                                            signUpForm.get('email')?.touched
                                    }"
                                    placeholder="Email"
                                    type="email"
                                    name="email"
                                    (blur)="
                                        signUpForm.get('email')?.markAsTouched()
                                    "
                                    required />
                                <div
                                    class="invalid-feedback"
                                    *ngIf="signUpForm.get('email')?.touched">
                                    <span
                                        *ngIf="signUpForm.get('email')?.errors?.['required']">
                                        Email is required
                                    </span>
                                    <span
                                        *ngIf="signUpForm.get('email')?.errors?.['email']">
                                        Please enter a valid email address
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <input
                                    formControlName="riderFirstName"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            signUpForm.get('riderFirstName')
                                                ?.errors &&
                                            signUpForm.get('riderFirstName')
                                                ?.touched
                                    }"
                                    placeholder="Rider First Name"
                                    type="text"
                                    name="riderFirstName"
                                    (blur)="
                                        signUpForm
                                            .get('riderFirstName')
                                            ?.markAsTouched()
                                    "
                                    required />
                                <div
                                    class="invalid-feedback"
                                    *ngIf="
                                        signUpForm.get('riderFirstName')
                                            ?.touched
                                    ">
                                    <span
                                        *ngIf="signUpForm.get('riderFirstName')?.errors?.['required']">
                                        Rider first name is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <input
                                    formControlName="riderLastName"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            signUpForm.get('riderLastName')
                                                ?.errors &&
                                            signUpForm.get('riderLastName')
                                                ?.touched
                                    }"
                                    placeholder="Rider Last Name"
                                    type="text"
                                    name="riderLastName"
                                    (blur)="
                                        signUpForm
                                            .get('riderLastName')
                                            ?.markAsTouched()
                                    "
                                    required />
                                <div
                                    class="invalid-feedback"
                                    *ngIf="
                                        signUpForm.get('riderLastName')?.touched
                                    ">
                                    <span
                                        *ngIf="signUpForm.get('riderLastName')?.errors?.['required']">
                                        Rider last name is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <input
                                    formControlName="bikeSize"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            signUpForm.get('bikeSize')
                                                ?.errors &&
                                            signUpForm.get('bikeSize')?.touched
                                    }"
                                    placeholder="Bike Size (cc)"
                                    type="number"
                                    name="bikeSize"
                                    (blur)="
                                        signUpForm
                                            .get('bikeSize')
                                            ?.markAsTouched()
                                    "
                                    required />
                                <div
                                    class="invalid-feedback"
                                    *ngIf="signUpForm.get('bikeSize')?.touched">
                                    <span
                                        *ngIf="signUpForm.get('bikeSize')?.errors?.['required']">
                                        Bike size is required
                                    </span>
                                    <span
                                        *ngIf="signUpForm.get('bikeSize')?.errors?.['min']">
                                        Bike size must be greater than 0
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <input
                                    formControlName="riderNumber"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            signUpForm.get('riderNumber')
                                                ?.errors &&
                                            signUpForm.get('riderNumber')
                                                ?.touched
                                    }"
                                    placeholder="Rider Number"
                                    type="text"
                                    name="riderNumber"
                                    (blur)="
                                        signUpForm
                                            .get('riderNumber')
                                            ?.markAsTouched()
                                    "
                                    required />
                                <div
                                    class="invalid-feedback"
                                    *ngIf="
                                        signUpForm.get('riderNumber')?.touched
                                    ">
                                    <span
                                        *ngIf="signUpForm.get('riderNumber')?.errors?.['required']">
                                        Rider number is required
                                    </span>
                                    <span
                                        *ngIf="signUpForm.get('riderNumber')?.errors?.['pattern']">
                                        Please enter a valid rider number
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <select
                                    formControlName="minorCheck"
                                    class="form-control"
                                    name="minorCheck">
                                    <option value="" disabled selected>
                                        Minor / Adult
                                    </option>
                                    <option>Minor</option>
                                    <option>Adult</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group style-dark2">
                                <select
                                    *ngIf="!isDate2Earlier()"
                                    formControlName="dropdown"
                                    class="form-control"
                                    name="dropdown">
                                    <option value="" disabled selected>
                                        Select a Class
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassAB > 0
                                        "
                                        [value]="
                                            'A/B - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        A/B -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassAB <= 6 &&
                                                spotsLeftClassAB > 0
                                            ">
                                            - {{ spotsLeftClassAB }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassC > 0
                                        "
                                        [value]="
                                            'C - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        C -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassC <= 6 &&
                                                spotsLeftClassC > 0
                                            ">
                                            - {{ spotsLeftClassC }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassMini > 0
                                        "
                                        [value]="
                                            'Mini - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        Mini -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassMini <= 6 &&
                                                spotsLeftClassMini > 0
                                            ">
                                            - {{ spotsLeftClassMini }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassJr > 0
                                        "
                                        [value]="
                                            'Jr Track - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        Jr Track -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassJr <= 6 &&
                                                spotsLeftClassJr > 0
                                            ">
                                            - {{ spotsLeftClassJr }} spots
                                            remaining.
                                        </span>
                                    </option>

                                    <hr *ngIf="openPractice.Date2" />

                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'A/B - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        A/B -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'C - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        C -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'Mini - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        Mini -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'Jr Track - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        Jr Track -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                </select>

                                <!-- if date2 is the earlier date -->
                                <select
                                    *ngIf="isDate2Earlier()"
                                    formControlName="dropdown"
                                    class="form-control"
                                    name="dropdown">
                                    <option value="" disabled selected>
                                        Select a Class
                                    </option>

                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'A/B - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        A/B -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'C - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        C -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'Mini - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        Mini -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>
                                    <option
                                        *ngIf="openPractice.Date2"
                                        [value]="
                                            'Jr Track - ' +
                                            (openPractice.Date2
                                                | date : 'mediumDate')
                                        ">
                                        Jr Track -
                                        {{
                                            openPractice.Date2
                                                | date : 'mediumDate'
                                        }}
                                    </option>

                                    <hr *ngIf="openPractice.Date2" />

                                    <!-- This Section needs a seperate spots counter... -->
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassAB > 0
                                        "
                                        [value]="
                                            'A/B - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        A/B -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassAB <= 6 &&
                                                spotsLeftClassAB > 0
                                            ">
                                            - {{ spotsLeftClassAB }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassC > 0
                                        "
                                        [value]="
                                            'C - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        C -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassC <= 6 &&
                                                spotsLeftClassC > 0
                                            ">
                                            - {{ spotsLeftClassC }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassMini > 0
                                        "
                                        [value]="
                                            'Mini - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        Mini -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassMini <= 6 &&
                                                spotsLeftClassMini > 0
                                            ">
                                            - {{ spotsLeftClassMini }} spots
                                            remaining.
                                        </span>
                                    </option>
                                    <option
                                        *ngIf="
                                            openPractice.Date &&
                                            spotsLeftClassJr > 0
                                        "
                                        [value]="
                                            'Jr Track - ' +
                                            (openPractice.Date
                                                | date : 'mediumDate')
                                        ">
                                        Jr Track -
                                        {{
                                            openPractice.Date
                                                | date : 'mediumDate'
                                        }}
                                        <span
                                            *ngIf="
                                                spotsLeftClassJr <= 6 &&
                                                spotsLeftClassJr > 0
                                            ">
                                            - {{ spotsLeftClassJr }} spots
                                            remaining.
                                        </span>
                                    </option>
                                </select>

                                <div
                                    class="invalid-feedback"
                                    *ngIf="signUpForm.get('dropdown')?.touched">
                                    <span
                                        *ngIf="signUpForm.get('dropdown')?.errors?.['required']">
                                        Please select a class
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="th-btn">
                                <input
                                    [disabled]="signUpForm.invalid"
                                    type="button"
                                    value="Sign Up"
                                    (click)="submit()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
