section.space {
    padding-top: 150px;
}

section.space > div.container {
    display: flex;
    flex-direction: column;
}

.btn-wrap > a {
    cursor: pointer;
}

@media (max-width: 412px) {
    .mobile-pricing-nav-small {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-pricing-nav-small > button {
        width: 80vw;
        margin: 10px;
        margin-bottom: 20px;
    }
}
