<section class="space">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="title-area text-lg-start text-center">
                    <span class="sub-title after-lg-none"
                        >Practice and Membership</span
                    >
                    <h2 class="sec-title">Register to ride</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="sec-btn">
                    <div
                        class="nav tab-menu1 price-tab-btn mobile-pricing-nav-small"
                        role="tablist"
                    >
                        <button
                            class="tab-btn th-btn active"
                            id="price-two-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#price-two"
                            role="tab"
                            aria-controls="price-two"
                            aria-selected="true"
                        >
                            Open Practice
                        </button>
                        <button
                            class="tab-btn th-btn"
                            id="price-one-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#price-one"
                            role="tab"
                            aria-controls="price-one"
                            aria-selected="false"
                        >
                            Unlimited Membership
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div
                class="tab-pane fade show"
                id="price-one"
                role="tabpanel"
                aria-labelledby="price-one-tab"
            >
                <div class="row gy-30 justify-content-center">
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="yearlySignUp && yearlySignUp.isActive"
                    >
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">Yearly</h3>
                                <h4 class="price-card_price">
                                    <span class="currency">$</span
                                    >{{yearlySignUp.price}}<span
                                        class="duration"
                                    >
                                        / Year</span
                                    >
                                </h4>
                            </div>
                            <div class="price-card_content">
                                <div class="row gy-4">
                                    <div class="checklist-container">
                                        <div class="checklist style3">
                                            <ul>
                                                <li>
                                                    <i
                                                        class="far fa-circle-check"
                                                        *ngIf="yearlySignUp.description1"
                                                    ></i>
                                                    {{yearlySignUp.description1}}
                                                </li>
                                                <li>
                                                    <i
                                                        class="far fa-circle-check"
                                                        *ngIf="yearlySignUp.description1"
                                                    ></i>
                                                    {{yearlySignUp.description2}}
                                                </li>
                                                <li>
                                                    <i
                                                        class="far fa-circle-check"
                                                        *ngIf="yearlySignUp.description1"
                                                    ></i
                                                    >{{yearlySignUp.description3}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <!--<a-->
                                <!--    [href]="yearlyMembershipStripeLink"-->
                                <!--    target="_blank"-->
                                <!--    class="th-btn style3 w-100"-->
                                <!--    >Sign up Now</a-->
                                <!-->-->
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-xl-12 col-lg-6"
                        *ngIf="!yearlySignUp || !yearlySignUp.isActive"
                    >
                        <div class="price-card">
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Yearly Sign Ups Not Available At This Time
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="tab-pane fade show active"
                id="price-two"
                role="tabpanel"
                aria-labelledby="price-two-tab"
            >
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-12 col-lg-6">
                        <div
                            class="price-card"
                            *ngIf="openPractice && openPractice.isActive"
                        >
                            <div
                                *ngIf="openPractice.isCancelled"
                                class="price-title-wrap"
                            >
                                <h2 class="box-title">Practice is Cancelled</h2>
                                <h4
                                    class="box-title"
                                    *ngIf="openPractice.isCancelled && openPractice.reasonForCancel"
                                >
                                    Due to: {{ openPractice.reasonForCancel }}
                                </h4>
                            </div>
                            <ng-container
                                *ngIf="!openPractice.isCancelled && openPractice.isActive"
                            >
                                <div class="price-title-wrap">
                                    <h3 class="box-title">Open Practice</h3>
                                    <h4 class="price-card_price">
                                        <span class="currency">$</span>{{
                                        openPractice.price }}<span
                                            class="duration"
                                        >
                                            / Day</span
                                        >
                                    </h4>
                                </div>
                                <div class="price-card_content">
                                    <div class="row gy-4">
                                        <div class="checklist-container">
                                            <div class="checklist style3">
                                                <ul>
                                                    <li>
                                                        <i
                                                            class="far fa-circle-check"
                                                            *ngIf="openPractice.description1"
                                                        ></i>
                                                        {{openPractice.description1}}
                                                    </li>
                                                    <li>
                                                        <i
                                                            class="far fa-circle-check"
                                                            *ngIf="openPractice.description1"
                                                        ></i>
                                                        {{openPractice.description2}}
                                                    </li>
                                                    <li>
                                                        <i
                                                            class="far fa-circle-check"
                                                            *ngIf="openPractice.description1"
                                                        ></i
                                                        >{{openPractice.description3}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn-wrap"
                                    *ngIf="!openPractice.isCashOnly"
                                >
                                    <a
                                        (click)="redirectToCheckoutAB()"
                                        target="_blank"
                                        class="th-btn style3 w-100"
                                        >Remaining Spots in AB: {{
                                        spotsLeftClassAB }}</a
                                    >
                                </div>
                                <!--<div-->
                                <!--    class="btn-wrap"-->
                                <!--    *ngIf="!openPractice.isCashOnly"-->
                                <!-->-->
                                <!--    <a-->
                                <!--        [href]="openPracticeStripeLink"-->
                                <!--        target="_blank"-->
                                <!--        class="th-btn style3 w-100"-->
                                <!--        >Sign up Now</a-->
                                <!--    >-->
                                <!--</div>-->
                                <div
                                    class="price-title-wrap"
                                    *ngIf="openPractice.isCashOnly"
                                >
                                    <h2 class="box-title">
                                        Accepting Cash Only
                                    </h2>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="price-card"
                            *ngIf="!openPractice || !openPractice.isActive"
                        >
                            <div class="price-title-wrap">
                                <h3 class="box-title">
                                    Open Practice is unavailable at this time.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
