section.space {
    padding-top: 150px;
}

section.space > div.container {
    display: flex;
    flex-direction: column;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-wrap > a {
    cursor: pointer;
}

.btn-wrap > .disabled {
    pointer-events: none !important;
    opacity: 0.5;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.th-btn input[type='button']:disabled {
    background-color: #424242; /* Gray color for disabled state */
    color: #666666; /* Darker gray for text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.form-control.is-invalid {
    border-color: #dc3545;
}

.price-card_price-old {
    text-decoration: line-through;
    opacity: 0.6;
    margin-right: 12px;
}

.price-card_price-new {
    font-weight: 700;
}

.price-card_price::before {
    content: none;
}

@media (max-width: 412px) {
    .mobile-pricing-nav-small {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-pricing-nav-small > button {
        width: 80vw;
        margin: 10px;
        margin-bottom: 20px;
    }
}
