<div class="parallax-container">
    <div class="parallax-image"></div>
</div>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="page-single mb-0">
            <div class="page-content">
                <h2 class="sec-title page-title fw-semibold">
                    Track Operating Hours
                </h2>
                <p class="mb-30">
                    Martin MX Park is currently open for practice (3) days per
                    week. Our hours and track operating days are subject to
                    change depending on current weather, or less than optimal
                    track conditions due to a weather event. We work very hard
                    to ensure the track is open on the days & hours listed
                    below.
                </p>
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <div class="checklist style3">
                            <ul>
                                <li>Wednesday 3pm - 8pm</li>
                                <li>Bikes Only</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="checklist style3">
                            <ul>
                                <li>Saturday 10am - 3pm</li>
                                <li>Bikes Only</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checklist style3">
                            <ul>
                                <li>Sundays 11am - 4pm</li>
                                <li>Bikes Only</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row gx-60 gy-50 mt-50">
                    <div class="col-xl-6">
                        <h3 class="fw-medium mb-20 mt-n2">Track Status</h3>
                        <p class="mb-35">
                            Since there are many circumstances that can affect
                            our operating hours, we urge you to check the
                            following resources for our current operating
                            status.
                        </p>
                        <div class="row gy-4 align-items-center">
                            <div class="th-social">
                                <a href="https://www.facebook.com/martinmxpark"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a href="https://www.twitter.com/martinmxpark"
                                    ><i class="fab fa-twitter"></i
                                ></a>
                                <a href="https://www.instagram.com/martinmxpark"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="video-box1 style2">
                            <img src="/images/old-site/2.jpg" alt="img" />
                        </div>
                    </div>
                </div>

                <div class="row gx-60 gy-50 mt-50">
                    <div class="col-xl-6">
                        <h3 class="fw-medium mb-20 mt-n2">
                            Equipment Requirements
                        </h3>
                        <p class="mb-35">
                            The following items are required in order to ride at
                            Martin MX Park. If you enter the track without these
                            items, you will be asked to exit the track until you
                            can meet the requirements. It is the riders
                            responsibility to ensure these requirements are met
                            prior to entering Martin MX Park.
                        </p>
                        <div class="row gy-4 align-items-center">
                            <div class="col-lg-6">
                                <div class="checklist style3">
                                    <ul>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            DOT Approved Helmet
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            Goggles
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            Long Pants
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            Long Sleeve Shirt
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            Boots Over Ankles
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            No Kickstands
                                        </li>
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            No Training Wheels
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-60 gy-50 mt-50">
                    <div class="col-xl-6">
                        <h3 class="fw-medium mb-20 mt-n2">
                            Track Rules And Policies
                        </h3>

                        <h5 class="fw-medium mb-20 mt-30">
                            Sign in is required prior to parking
                        </h5>
                        <p class="mb-35">
                            Prior to entering the facility everyone in your
                            vehicle is required to check in and sign the proper
                            liability waiver forms. This includes spectators.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            No Drugs Or Alcohol
                        </h5>
                        <p class="mb-35">
                            Alcohol is not permitted on the track premises.
                            Additionally, riding while under the influence of
                            any drugs or alcohol is strictly prohibited. If
                            Martin MX Park staff suspect that any riders are
                            under the influence of drugs or alcohol, they will
                            be asked to leave without refund. In some
                            circumstances, we will contact the proper
                            authorities if necessary. Martin MX Park takes this
                            policy very seriously and will be enforced. The
                            safety of our riders is paramount.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            Obnoxious/Aggressive/Harassing Behavior Is Not
                            Tolerated
                        </h5>
                        <p class="mb-35">
                            Martin MX Park values the enjoyment of all our
                            riders & spectators. While we all like to let loose
                            and have fun, loud and obnoxious behavior that
                            disrupts the enjoyment of fellow riders & spectators
                            will not be tolerated. Additionally, any rider(s) or
                            spectators that display any aggressive actions
                            towards fellow riders or spectators will be asked to
                            leave. This also includes any harassing behavior
                            towards any of the Martin MX Park staff.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Spectators</h5>
                        <p class="mb-35">
                            Spectators are welcomed, and encouraged to come
                            watch. All non-riding spectators ages 5+ are subject
                            to a $5 entry fee and required to sign a waiver
                            prior to entering the facility.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            Early Entry Welcomed
                        </h5>
                        <p class="mb-35">
                            We welcome all riders that show up early. Showing up
                            early will allow you to beat the opening traffic,
                            and time to set up in your favorite spot. However,
                            showing up early does not mean the track is open
                            early.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            Tents/Canopies Allowed
                        </h5>
                        <p class="mb-35">
                            We encourage the use of canopies and tents while
                            riding at Martin MX Park. We just ask that you be
                            courteous of other visitors when you are choosing
                            your set up location. Use only the space you
                            actually need.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            No Riding Prior To Opening
                        </h5>
                        <p class="mb-35">
                            Riding the track prior to opening hours is strictly
                            prohibited and will get you a quick escort off the
                            grounds. Our staff operates equipment on the track
                            right up until our designated opening hour. This
                            policy is in place to ensure YOUR safety as well as
                            our staff's safety.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Pets Are Allowed</h5>
                        <p class="mb-35">
                            We allow riders & spectators to bring their pets.
                            However they MUST be on a leash at ALL TIMES. Martin
                            MX staff reserves the right to disallow any loud or
                            aggressive pets. If you feel that your pet might be
                            this way, we do have remote parking areas to
                            accommodate any potential issues. Additionally,
                            please clean up after your pet.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            Cash Payments Only
                        </h5>
                        <p class="mb-35">
                            Currently, we are only equipped to handle cash at
                            our practice facility. However, future items such as
                            Martin MX Park apparel and accessories will be
                            available for online purchase via credit card. We
                            apologize for any inconvenience this may cause.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Concessions</h5>
                        <p class="mb-35">
                            Currently, we offer water ($1) and monster energy
                            drinks ($2) which are available in the check-in
                            building. We encourage you to bring your own food &
                            water. However there is a gas station and Subway
                            located 1/2 mile from our track.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Re-Entry</h5>
                        <p class="mb-35">
                            If you need to temporarily leave the track for any
                            reason, upon re-entry you must present your
                            wristband to the check-in attendant.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">No UAVs/Drones</h5>
                        <p class="mb-35">
                            While we are huge fans of the footage drones can
                            capture, their use during open practices is strictly
                            prohibited unless approved by Martin MX Park.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">
                            Camping is not allowed
                        </h5>
                        <p class="mb-35">
                            At this time we do not allow any camping.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">No fires allowed</h5>
                        <h5 class="fw-medium mb-20 mt-30">No Pit Bikes</h5>
                    </div>
                </div>

                <div class="row gx-60 gy-50 mt-50">
                    <div class="col-xl-6">
                        <h3 class="fw-medium mb-20 mt-n2">
                            Special Event Policies
                        </h3>
                        <h5 class="fw-medium mb-20 mt-30">
                            Limited Track Access
                        </h5>
                        <p class="mb-35">
                            During special events, access to the inside areas of
                            the track will be limited to approved individuals
                            only. Parents of riders (no guardians) in the small
                            bike classes are the only exception to this rule.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Spectator Fees</h5>
                        <p class="mb-35">
                            There is a $5 dollar spectator fee in place for
                            special events.
                        </p>
                        <h5 class="fw-medium mb-20 mt-30">Parking</h5>
                        <p class="mb-35">
                            Parking remains free during special events.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
