<div class="container pt-40">
    <div class="title-area text-center">
        <span class="sub-title">Rider List</span>
    </div>
    <div class="table-responsive print-table">
        <table id="riders-table" class="table table-striped rider-table">
            <thead>
                <tr>
                    <th>Rider Name</th>
                    <th>Rider Number</th>
                    <th>Class</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>Is Minor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rider of riders">
                    <td>{{ rider.Name }}</td>
                    <td>{{ rider.Number }}</td>
                    <td>{{ rider.Class }}</td>
                    <td>{{ rider.Size }} cc</td>
                    <td>{{ rider.Date | date : 'mediumDate' }}</td>
                    <td>{{ rider.isMinor ? 'Minor' : 'Adult' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <button class="th-btn print-btn" (click)="printRiderList()">
            Print List
        </button>
    </div>
</div>
