<section
    class="overflow-hidden space"
    data-bg-src="/images/bg/schedule_bg_1_1.png"
>
    <div
        class="shape-mockup schedule-shape1-1 jump-reverse d-xl-block d-none"
        data-top="0"
        data-right="0"
    >
        <img src="/images/shape/shape-1-1.png" alt="img" />
    </div>
    <div
        class="shape-mockup schedule-shape1-2 jump d-xl-block d-none"
        data-bottom="0"
        data-left="0"
    >
        <img src="/images/shape/shape-1-2.png" alt="img" />
    </div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Our Events</span>
        </div>
        <div class="table-responsive">
            <table class="table schedule_table">
                <tbody>
                    <tr>
                        <td>Wednesday Nov, 28 2024 8:00 AM - 9:00 AM</td>
                        <td>Crazy Biker Event</td>
                    </tr>
                    <tr>
                        <td>Wednesday Nov, 28 2024 8:00 AM - 9:00 AM</td>
                        <td>Crazy Biker Event</td>
                    </tr>
                    <tr>
                        <td>Wednesday Nov, 28 2024 8:00 AM - 9:00 AM</td>
                        <td>Crazy Biker Event</td>
                    </tr>
                    <tr>
                        <td>Wednesday Nov, 28 2024 8:00 AM - 9:00 AM</td>
                        <td>Crazy Biker Event</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
